body {
    background: url(../assets/images/headerBackground.jpg) center/cover no-repeat;
    height: 100vh;
    overflow: hidden;

    //Sections visibility
    .non-visible {
        opacity: 0;
        pointer-events: none;
    }
}

ul,
button {
    margin: 0;
}

button {
    cursor: pointer;
}