@use "./variables" as *;
//For font calculations use:

//https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: initial;
    transition: all .3s;

    //https://codepen.io/hari_shanx/pen/NWzzKE
    .button {
        position: relative;
        display: block;
        background: transparent;
        width: 300px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 60px;
        box-sizing: border-box;
        color: $solidWhite;
        border: none;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }

        /* Button Border Style */
        &:before,
        &:after {
            position: absolute;
            content: '';
            width: 300px;
            left: 0px;
            height: 37px;
            z-index: -1;
        }

        &:before {
            transform: perspective(15px) rotateX(3deg);
        }

        &:after {
            top: 40px;
            transform: perspective(15px) rotateX(-3deg);
        }

        &.border:before,
        &.border:after {
            border: 4px solid $solidWhite;
        }

        &.border:before {
            border-bottom: none;
            /* to prevent the border-line showing up in the middle of the shape */
        }

        &.border:after {
            border-top: none;
            /* to prevent the border-line showing up in the middle of the shape */
        }

        /* Button hover styles */
        &.border:hover:before,
        &.border:hover:after {
            // background: darken($color: $secondaryColour, $amount: 25%)
            background-color: $accentColour;
        }
    }
}

h1 {
    font-size: clamp(2rem, 0.9091rem + 5.4545vw, 5rem);
    margin-top: 40vh;
    text-align: center;
    text-transform: uppercase;
}