@use "./variables" as *;

.loader-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: rgba($color: #000000, $alpha: 0.5);
    pointer-events: initial;
    transition: all 0.3s;

    .loader-message {
        position: absolute;
        width: min-content;
        top: 20%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-size: 2rem;
        text-align: center;

        &.text-animation {
            animation: zoomtext 1s;
        }
    }

    .loader-container {
        position: relative;
        width: 120px;
        height: 120px;
    }

    .loader-border,
    .loader-image {
        position: absolute;
    }

    .loader-border {
        z-index: 1;
        inset: 0;
        border: 16px solid $secondaryColour;
        border-top: 16px solid $accentColour;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }

    .loader-image {
        inset: 12px;
        background: url(../assets/images/loader-animation.gif) center/cover no-repeat;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoomtext {
    0% {
        font-size: .1rem;
    }

    90% {
        font-size: 2.5rem;
    }

    100% {
        font-size: 2rem;
    }
}