@use "./variables" as*;

.modal-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: initial;
    transition: all .3s;

    .message {
        // width: max-content;
        font-size: 1.8rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .buttons-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    button {
        margin: .5em;
        position: relative;
        display: block;
        background: transparent;
        width: 250px;
        height: 80px;
        box-sizing: border-box;
        color: $solidWhite;
        border: none;

        /* Button Border Style */
        &:before,
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            left: 0px;
            height: 39px;
            z-index: -1;
            border: 2px solid $solidWhite;
            background-color: $secondaryColour;
        }

        &:before {
            top: 0px;
            transform: perspective(10px) rotateX(2deg);
            border-bottom: none;
        }
        
        &:after {
            top: 41px;
            transform: perspective(10px) rotateX(-2deg);
            border-top: none;
        }
        /* Button hover styles */
        &:hover:before,
        &:hover:after {
            background-color: $accentColour;
        }
    }
}

