@font-face {
  font-family: "copperplate";
  src: url(../assets/fonts/copperplate_gothic_bold_regular-webfont.woff2) format("woff2"), url(../assets/fonts/copperplate_gothic_bold_regular-webfont.woff) format("woff"), url(../assets/fonts/copperplate_gothic_bold_regular-webfont.ttf) format("ttf");
}
@font-face {
  font-family: "franklin";
  src: url(../assets/fonts/librefranklin-extrabold-webfont.woff2) format("woff2"), url(../assets/fonts/librefranklin-extrabold-webfont.woff) format("woff"), url(../assets/fonts/librefranklin-extrabold-webfont.ttf) format("ttf");
}